a{
    color: red;
}
body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
    text-align: center;
  }
  
  .extendable:focus {
    position: absolute;
    width: 110%;
    top: -1rem;
}

form{
    text-align: center;
}

h3{
    color: darkblue;
    text-align: center;
}




h5{
    text-align: right;
}